.menu-nav{
    list-style-type: none;
    display: flex;
    flex-flow: row;
}

.menu-nav li{
    margin-left: 54px;
}

.menu-nav li a{
    color: white;
    font-size: 20px;
}

.menu-nav li a:link
.menu-nav li a:visited
.menu-nav li a:hover
.menu-nav li a:active{
    text-decoration: none;
}